<app-search></app-search>
<h3 class="title">{{title.title}}</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <td>שם פרטי</td>
            <td>שם משפחה</td>
            <td>טלפון</td>
            <td>אימייל</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clients" (click)="openCareLog(c.id)" >
            <td>{{c.firstname}}</td>
            <td>{{c.lastname}}</td>
            <td>{{c.phone}}</td>
            <td>{{c.email}}</td>
        </tr>
    </tbody>
</table>