
.form{
    margin: auto;
    width: 25%;
    padding: 30px;
    height: 400px;
 border-radius: 10px;
 text-align: center;
border-style: solid;
    background-color: 	rgba(85,107,47,0.5);
}
label{
    padding: 5px;
}
.wrapper{
    background-image: url('/assets/image/background.jpg');
    height: 100vh;
}
