<div class="wrapper">
<div class="form">

    <h3>{{title.title}}</h3>
    <form action="login">
        <div class="userId">
            <input type="number" name="userId" [(ngModel)]="userId">
            <label for="userId">תעודת זהות</label>
            
        </div>
        <div class="password">
            <input type="text" name="password" [(ngModel)]="userPassword">
            <label for="password">סיסמא</label>
            
        </div>
        <div class="button">
            <button (click)="onClick()">{{title.btn}}</button>
        </div>
        <div class="msgError">
            {{msgError}}
        </div>
    </form>
    <div class="image">
        <img src="\assets\image\birds.png" alt="">
    </div>
</div>
</div>